<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculator</title>
</head>
<body>
    <h1> Simple Calculator</h1>

    <form action = "calculate" method="get"> 
    First Number: <input type="number" name = "num1">  <br/> <br />
    Operator: <input type="text" name="operator"> <br/> <br />
    Second Number: <input type="number" name="num2"> <br/> <br/>
    <button type="submit"> Add</button>
    
    </form>
    <p> The Answer is: {{Result}} </p>
    
</body>
</html>